# Libraries

In [ ]:
pip install pandas openpyxl sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# SQL Connection

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Set the database URL
DATABASE_URL = 'postgresql+psycopg2://thodoris:B4AqjEYBhDPXDHmuSW8MYgfdPp5Nob88@dpg-cpmtb4g8fa8c73aoakig-a.frankfurt-postgres.render.com/capstone_fs'

# Create a SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Function to load data from the database
def load_data_from_db(query):
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Load Excel files in database

In [ ]:
# Read the uploaded Excel file into a DataFrame
file_name = '/content/Mock up book.xls'  # uploaded to colab this will be deleted
df = pd.read_excel(file_name)

# Upload the DataFrame to PostgreSQL
table_name = 'mock_data'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Uploaded {file_name} to {table_name} table in PostgreSQL.")

Uploaded /content/Mock up book.xls to mock_data table in PostgreSQL.

# Useful functions for querying SQL

In [ ]:
# Lists all tables in database
def get_all_tables():
    query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    """
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Lists the columns in a table and their data type
def inspect_columns(table_name):
    query = f"""
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_name = '{table_name}'
    """
    try:
        with engine.connect() as connection:
            result = pd.read_sql_query(query, connection)
        print(f"Columns and their data types in the table {table_name}:\n")
        print(result)
    except Exception as e:
        print(f"An error occurred: {e}")

# Returns the first 5 rows
def get_top_5_rows(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Executes a given query
def execute_query(table_name, query):
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    print(result)

In [ ]:
inspect_columns('mock_data')

Columns and their data types in the table mock_data:

          column_name         data_type
0            Order ID            bigint
1         Investor ID            bigint
2           Firm (mm)  double precision
3     Alloc Firm (mm)  double precision
4   Territory/Country              text
5                Type              text
6                Deal              text
7            Feedback              text
8      Limit Security              text
9              Spread              text
10       Hedge/Switch              text
11           Modified              text
12            Created              text
13      Investor Name              text
14             Region              text

In [ ]:
# Example usage
table_name = 'mock_data'
columns = '"Feedback"'
query = f"SELECT {columns} FROM {table_name}"
execute_query(table_name, query)

                                              Feedback
0    They consider the overall yield would be too l...
1    They will take a closer look tomorrow - but as...
2    Looking at their curve and peers, a 4y should ...
3    They will look at the new bond, they have alre...
4              30/40bps NIP is reasonable, tenor is ok
..                                                 ...
100  We’re interested in the credit, but the tenor ...
101  Initial pricing seems tight, but it might fit ...
102  We’re keen on the sector, but significant NIP ...
103  The structure is acceptable, but forward visib...
104  The credit looks good, but timing isn’t ideal ...

[105 rows x 1 columns]