# Libraries

## Install libraries

In [ ]:
#pip install pandas openpyxl sqlalchemy psycopg2-binary

## Import libraries

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# SQL Connection

In [ ]:
# Set the database URL
DATABASE_URL = 'postgresql+psycopg2://thodoris:B4AqjEYBhDPXDHmuSW8MYgfdPp5Nob88@dpg-cpmtb4g8fa8c73aoakig-a.frankfurt-postgres.render.com/capstone_fs'

# Create a SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Function to load data from the database
def load_data_from_db(query):
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Load Excel files in database

In [ ]:
'''# Read the uploaded Excel file into a DataFrame
file_name = '/content/Mock up book.xls'  # uploaded to colab this will be deleted
df = pd.read_excel(file_name)

# Upload the DataFrame to PostgreSQL
table_name = 'mock_data'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Uploaded {file_name} to {table_name} table in PostgreSQL.")'''

# Useful functions for querying SQL

In [ ]:
# Lists all tables in database
def get_all_tables():
    query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    """
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Lists the columns in a table and their data type
def inspect_columns(table_name):
    query = f"""
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_name = '{table_name}'
    """
    try:
        with engine.connect() as connection:
            result = pd.read_sql_query(query, connection)
        print(f"Columns and their data types in the table {table_name}:\n")
        print(result)
    except Exception as e:
        print(f"An error occurred: {e}")

# Returns the first 5 rows
def get_top_5_rows(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

# Executes a given query
def execute_query(table_name, query):
    with engine.connect() as connection:
        result = pd.read_sql_query(query, connection)
    return result

In [ ]:
'''
# Example usage
inspect_columns('mock_data')

table_name = 'mock_data'
columns = '"Feedback"'
query = f"SELECT {columns} FROM {table_name}"
execute_query(table_name, query)
'''

# Dataset

In [ ]:
table_name = 'mock_data'
columns = '"Feedback"'
query = f"SELECT {columns} FROM {table_name}"
df = execute_query(table_name, query)

In [ ]:
df